body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Use a modern font */
  background-color: #f8f9fa;
  color: #212529;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

button {
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}


.high-contrast {
  background-color: #000; 
  color: #fff;
}

.high-contrast .btn {
  background-color: #ffcc00;
  color: #000;
}

.high-contrast a {
  color: #00ffff;
}